@model IEnumerable<WardrobeMVC.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Photo1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhotoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhotoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PhotoID })
        </td>
    </tr>
}

</table>




@*Black Clothes*@

@*<img src="~/Content/blackCasioWatch.jpg" />
<img src="~/Content/blackGoogleGlass.jpg" />
<img src="~/Content/blackLeatherBoots.jpg" />
<img src="~/Content/blackShinyPants.jpg" />
<img src="~/Content/blackSunglasses.JPG" />
<img src="~/Content/blackToeShoes.jpg" />
<img src="~/Content/blackTshirtCougar.jpg" />
<img src="~/Content/blackWinterCoat.jpg" />
<img src="~/Content/blackOldDirtyShoes.jpg" />
<img src="~/Content/blackUglySweater.jpg" />*@


@*Blue Clothes*@

@*<img src="~/Content/blueBaseballHat.jpg" />
<img src="~/Content/blueJeansShorts.jpg" />
<img src="~/Content/blueMenCargoPants.jpg" />
<img src="~/Content/blueMountieHat.jpg" />
<img src="~/Content/blueRoseHolidaySweater.jpg" />
<img src="~/Content/blueTshirt.png" />
<img src="~/Content/blueDcTshirt.jpg" />*@


@*Brown Clothes*@

@*<img src="~/Content/brokenBrownShoes.jpg" />
<img src="~/Content/brownCargoPants.jpg" />
<img src="~/Content/brownLacelessDressShoes.jpg" />
<img src="~/Content/brownLionTshirt.jpg" />
<img src="~/Content/brownScarecrowSweater.jpg" />
<img src="~/Content/brownStrawHat.png" />
<img src="~/Content/brownSweater.JPG" />
<img src="~/Content/brownWinterHat.jpg" />*@

@*Green Clothes*@

@*
    <img src="~/Content/greenThreePieceSuit.jpg" />
    <img src="~/Content/greenGolfSweater.jpg" />
    <img src="~/Content/greenPants.jpg" />*@



@*Mixed/Misc Clothes*@

@*<img src="~/Content/cardboardPants.jpg" />
<img src="~/Content/goldDigitalWatch.jpg" />
<img src="~/Content/keyboardPants.jpg" />
<img src="~/Content/mixedAmericanShoe.jpg" />
<img src="~/Content/mixedBrightShoes.jpg" />
<img src="~/Content/mixedColorBoots.jpg" />
<img src="~/Content/mixedHikingShoes.png" />
<img src="~/Content/mixedHolidaySweater.jpg" />*@



@*Orange Clothes*@

@*<img src="~/Content/orangeCapriPants.jpg" />
<img src="~/Content/orangeTshirt.png" />*@


@*Yellow Clothes*@

@*<img src="~/Content/yellowFancySuitCoat.jpg" />
<img src="~/Content/yellowSweater.jpeg" />
<img src="~/Content/yellowTshirt.png" />*@


@*Red Clothes*@

@*<img src="~/Content/redSuitCoat.jpg" />
<img src="~/Content/redSweaterVest.jpg" />
<img src="~/Content/redTshirt.png" />*@



@*Purple Clothes*@

@*<img src="~/Content/purpleSuitCoat.jpg" />
<img src="~/Content/purpleTshirt.png" />*@



@*White Clothes*@

@*<img src="~/Content/whiteCoat.jpg" />
<img src="~/Content/whiteDressShoes.jpg" />
<img src="~/Content/whiteGymShorts.jpg" />
<img src="~/Content/whiteHolidaySweater.jpg" />
<img src="~/Content/whiteTshirtDaddyCool.jpg" />
<img src="~/Content/whiteWaistcoat.jpg" />*@
