@model WardrobeMVC.Models.Top

@{
    ViewBag.Title = "Details";
}

<h1 class="detailsHeading centerText">Tops</h1>

<div class="row">

    <div class="col-sm-5 centerText">
        <hr />
       
        <h3 class="detailsOdd">@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
        <h3 class="detailsEven">@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>
        <h3 class="detailsOdd">Color: @Html.DisplayFor(model => model.Color.Color1)</h3>
        <h3 class="detailsEven">Occasion: @Html.DisplayFor(model => model.Occasion.Occasion1)</h3>
        <h3 class="detailsOdd">Season: @Html.DisplayFor(model => model.Season.Season1)</h3>


        </div>

    <div class="col-sm-7">
        @{
            if (Model.PhotoID == 2)
            {
                <img src="~/Content/blackTshirtCougar.jpg" />
            }
            else if (Model.PhotoID == 3)
            {
                <img src="~/Content/blueTshirt.png" />
            }
            else if (Model.PhotoID == 4)
            {
                <img src="~/Content/blueDcTshirt.jpg" />
            }
            else if (Model.PhotoID == 5)
            {
                <img src="~/Content/brownLionTshirt.jpg" />
            }
            else if (Model.PhotoID == 6)
            {
                <img src="~/Content/orangeTshirt.png" />
            }
            if (Model.PhotoID == 7)
            {
                <img src="~/Content/yellowTshirt.png" />
            }
            else if (Model.PhotoID == 8)
            {
                <img src="~/Content/redTshirt.png" />
            }
            else if (Model.PhotoID == 9)
            {
                <img src="~/Content/purpleTshirt.png" />
            }
            else if (Model.PhotoID == 10)
            {
                <img src="~/Content/whiteTshirtDaddyCool.jpg" />
            }
            else if (Model.PhotoID == 11)
            {
                <img src="~/Content/blackUglySweater.jpg" />
            }
            else if (Model.PhotoID == 12)
            {
                <img src="~/Content/blueRoseHolidaySweater.jpg" />
            }
            else if (Model.PhotoID == 13)
            {
                <img src="~/Content/brownScarecrowSweater.jpg" />
            }
            else if (Model.PhotoID == 14)
            {
                <img src="~/Content/brownSweater.JPG" />
            }
            else if (Model.PhotoID == 15)
            {
                <img src="~/Content/greenGolfSweater.jpg" />
            }
            else if (Model.PhotoID == 16)
            {
                <img src="~/Content/mixedHolidaySweater.jpg" />
            }
            if (Model.PhotoID == 17)
            {
                <img src="~/Content/yellowSweater.jpeg" />
            }
            else if (Model.PhotoID == 18)
            {
                <img src="~/Content/redSweaterVest.jpg" />
            }
            else if (Model.PhotoID == 19)
            {
                <img src="~/Content/whiteHolidaySweater.jpg" />
            }
            else if (Model.PhotoID == 20)
            {
                <img src="~/Content/blackWinterCoat.jpg" />
            }
            else if (Model.PhotoID == 21)
            {
                <img src="~/Content/greenThreePieceSuit.jpg" />
            }
            else if (Model.PhotoID == 22)
            {
                <img src="~/Content/yellowFancySuitCoat.jpg" />
            }
            else if (Model.PhotoID == 23)
            {
                <img src="~/Content/redSuitCoat.jpg" />
            }
            else if (Model.PhotoID == 24)
            {
                <img src="~/Content/purpleSuitCoat.jpg" />
            }
            else if (Model.PhotoID == 25)
            {
                <img src="~/Content/whiteCoat.jpg" />
            }
            else if (Model.PhotoID == 26)
            {
                <img src="~/Content/whiteWaistcoat.jpg" />
            }

        }

    </div>
</div>

    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.Color1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Color1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion.Occasion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.Occasion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo.Photo1)
        </dt>

        <dd>
            @*<img src="@Html.DisplayFor(model => model.Photo.Photo1)">*@




    @*</dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Season.Season1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Season.Season1)
                </dd>

            </dl>
        </div>*@*




    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TopsID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
