@model IEnumerable<WardrobeMVC.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h1>Tops</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*Tshirts Row 1*@

<h2>T-Shirts</h2>

<div class="row">
@foreach (var item in Model)
{
    if (item.TopsID >= 1 && item.TopsID <= 6)
    {
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src=@Url.Content(item.Photo.Photo1)>
            <div class="caption">
                <p class="detailButton">@Html.ActionLink("Details", "Details", new { id = item.TopsID }, new { @class = "btn btn-primary", role = "button" })</p>
            </div>
        </div>
    </div>
    }
}
    </div>

@*TShirts Row 2*@


<div class="row">
    @foreach (var item in Model)
    {

        if (item.TopsID >= 7 && item.TopsID <= 9)
        {
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src=@Url.Content(item.Photo.Photo1)> 
                    <div class="caption">
                        <p class="detailButton">@Html.ActionLink("Details", "Details", new { id = item.TopsID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    } 
</div>

@*Sweaters Row One*@  

<h2>Sweaters</h2>

<div class="row">
    @foreach (var item in Model)
    {

        if (item.TopsID >= 10 && item.TopsID <= 15)
        {
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src=@Url.Content(item.Photo.Photo1)>
                    <div class="caption">
                        <p class="detailButton">@Html.ActionLink("Details", "Details", new { id = item.TopsID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    }
</div>

@*Sweaters Row 2*@

<div class="row">
    @foreach (var item in Model)
    {

        if (item.TopsID >= 16 && item.TopsID <= 18)
        {
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src=@Url.Content(item.Photo.Photo1)>
                    <div class="caption">
                        <p class="detailButton">@Html.ActionLink("Details", "Details", new { id = item.TopsID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    }
</div> 

@*Suits and Coats Row One*@

<h2>Suits & Coats</h2>

<div class="row">
    @foreach (var item in Model)
    {

        if (item.TopsID >= 19 && item.TopsID <= 24)
        {
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src=@Url.Content(item.Photo.Photo1)>
                    <div class="caption">
                        <p class="detailButton">@Html.ActionLink("Details", "Details", new { id = item.TopsID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    }
</div> 