@model WardrobeMVC.Models.Accessory

@{
    ViewBag.Title = "Details";
}

<h1 class="detailsHeading centerText">Accessories</h1>

<div class="row">

    <div class="col-sm-5 centerText">
        <hr />

        <h3 class="detailsOdd">@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
        <h3 class="detailsEven">@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>
        <h3 class="detailsOdd">Color: @Html.DisplayFor(model => model.Color.Color1)</h3>
        <h3 class="detailsEven">Occasion: @Html.DisplayFor(model => model.Occasion.Occasion1)</h3>
        <h3 class="detailsOdd">Season: @Html.DisplayFor(model => model.Season.Season1)</h3>


    </div>

    <div class="col-sm-7">
        @{
            if (Model.PhotoID == 1)
            {
                <img id="casio" src="~/Content/blackCasioWatch.jpg" />
            }
            else if (Model.PhotoID == 46)
            {
                <img class="squareReSize" src="~/Content/goldDigitalWatch.jpg" />
            }
            else if (Model.PhotoID == 47)
            {
                <img src="~/Content/blueBaseballHat.jpg" />
            }
            else if (Model.PhotoID == 48)
            {
                <img class="rectangleReSize" src="~/Content/blueMountieHat.jpg" />
            }
            else if (Model.PhotoID == 49)
            {
                <img class="squareReSize" src="~/Content/brownStrawHat.png" />
            }
            if (Model.PhotoID == 50)
            {
                <img src="~/Content/brownWinterHat.jpg" />
            }
            else if (Model.PhotoID == 51)
            {
                <img src="~/Content/blackGoogleGlass.jpg" />
            }
            else if (Model.PhotoID == 52)
            {
                <img class="rectangleReSize" src="~/Content/blackSunglasses.JPG" />
            }

        }

    </div>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccessoriesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>



@*<h2>Details</h2>

<div>
    <h4>Accessory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.Color1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Color1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion.Occasion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.Occasion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo.Photo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo.Photo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season.Season1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.Season1)
        </dd>

    </dl>
</div>*@

