@model IEnumerable<WardrobeMVC.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*Watches Row One*@

<h2>Watches</h2>

<div class="row">
    @foreach (var item in Model)
    {
        if (item.AccessoriesID >= 1 && item.AccessoriesID <= 2)
        {
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src=@Url.Content(item.Photo.Photo1)> @*set alts in id fields?*@
                    <div class="caption">
                        <p class="detailButton">@Html.ActionLink("Details", "Details", new { id = item.AccessoriesID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    }
</div>

@*Hats Row One*@

<h2>Hats</h2>

<div class="row">
    @foreach (var item in Model)
    {
        if (item.AccessoriesID >= 3 && item.AccessoriesID <= 6)
        {
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src=@Url.Content(item.Photo.Photo1)> @*set alts in id fields?*@
                    <div class="caption">
                        <p class="detailButton">@Html.ActionLink("Details", "Details", new { id = item.AccessoriesID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    }
</div>

@*Sunglasses Row One*@

<h2>Sunglasses</h2>

<div class="row">
    @foreach (var item in Model)
    {
        if (item.AccessoriesID >= 7 && item.AccessoriesID <= 8)
        {
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src=@Url.Content(item.Photo.Photo1)> @*set alts in id fields?*@
                    <div class="caption">
                        <p class="detailButton">@Html.ActionLink("Details", "Details", new { id = item.AccessoriesID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    }
</div>









@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color.Color1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion.Occasion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo.Photo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season.Season1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color.Color1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion.Occasion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo.Photo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.Season1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccessoriesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccessoriesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccessoriesID })
        </td>
    </tr>
}

</table>*@
